.username{
    background: white;
    color : black;
    padding: 10px;
    font-size: 25px;
    margin : 10px;
    width : 350px; 
}
#Home{
    display : none;
}
.user-display{
    text-align : left;
    margin-left : 20px;
    float:left;
    height : 1000px;
}
.reset{
    text-align : center;
    padding: 5px;
    margin-left: 10px;
    text-emphasis: bold;
    background: aqua;
}
.header{
    border: 2px solid yellow;
    margin : 30px;
    height : 100px;
    font-size: 25px;
    text-align: center;
    color : white;
    padding-bottom: 30px;
    font-family: 'East Sea Dokdo', cursive;
}
body{
    background:url('bg.svg') no-repeat;
    background-position: 50% 50%;
    background-size: 1920px 1200px;
    background-attachment: fixed;
    width : 100%;
    height : 100%;
}
input {
    padding: 10px;
    text-align: center;
}
.login{
    font-size: 20px;
    width : 600px;
    margin-top: 100px;
    margin-left :   190px;
    padding : 20px;
    float : right;
    font-family: 'Satisfy', cursive;
}

#requir{
    color:red;
    margin-left : 5px;
}

button{
    padding: 5px;
    text-emphasis: bold;
    background: aqua;
    font-size :15px;
}
/*fieldset {
    padding: 1em;
    font:80%/1 sans-serif;
    border : 3px solid black;
    width : 500px;
}*/
label {
    margin-left : 100px;
    margin-right:0.5em;
    text-align:center;
    font-weight:bold;
}
legend {
    padding: 0.2em 0.5em;
    border:1px solid black;
    color:white;
    font-size:90%;
    text-align:center;
    font-size: 20px;
}